body{
    font-family: sans-serif;
    margin: 0%;
    padding: 0%;
}
span{
    color: tomato;
}
.fristsection-div{
    width: 30%;
    float: left;
    margin: 5%;
    padding: 2%;
}
.fristsection-div img{
    width: 100%;
}
.image{
    width: 20%;
    float: left;
    margin: 5%;
    padding: 2%;

}
.image img{
    width: 100%;
}
.aa{
    width: 100%;
    height: 100%;
}
